/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

a:visited {
  color: inherit;
}

li {
  list-style-type: none;
}

body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  color: #0e0e0e;
  background-color: #f6f5f3;
}

h2 {
  padding: 1rem 0;
}

hr {
  border: 1px solid #ff9614;
  width: 20%;
}

iframe {
  width: 100%;
  aspect-ratio: 1.75;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 90%;
  max-width: 100%;
}

.margin {
  margin: 2rem auto;
}

.xtra-p {
  padding-bottom: 2rem;
}

.shadow {
  box-shadow: 0px 0px 20px 1px #d3d3d3;
}

/* FONT PROPERTIES */

.f-bold {
  font-weight: bolder;
}

.f-upper {
  text-transform: uppercase;
}

.f-capitalize {
  text-transform: capitalize;
}

.title-thick {
  font-weight: 800;
}

.title-thin {
  font-weight: 500;
}

.f-category {
  color: grey;
  font-weight: 300;
}

.f-center {
  text-align: center;
}

/* WIDTH */

.w-100 {
  width: 100%;
}

/* DISPLAY */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* FONT AWESOME */

.fa-facebook {
  color: #1a77f3;
}

.fa-twitter {
  color: #009eff;
}

.fa-instagram {
  color: #de3d85;
}

.fa-youtube,
.fa-pinterest {
  color: #e62222;
}

/* HEADER */

.site-header {
  background-color: white;
}

.site-header-title {
  font-family: "Nerko One", cursive;
  color: #ff9614;
  text-shadow: 0px 1px 1px #555555;
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}

/* # MAIN */

.hero-card {
  background-color: white;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
}

.hero h2 {
  color: #4e3969;
}

.card-body {
  padding: 2rem 2rem;
  line-height: 2rem;
}

.card-body h3 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.btn-container {
  justify-content: space-between;
}

.social-btn {
  background-color: white;

  padding: 10px 15px;
  border-radius: 30px;
  display: inline-block;
}

.presentation-content {
  line-height: 1.8rem;
}

/* FOOTER */

footer {
  background-color: #7c69a4;
}

.footer-container {
  color: white;
  font-size: 0.9rem;
  padding: 1rem;
  line-height: 1.2rem;
}

.footer-link {
  display: inline-block;
  text-decoration: underline;
  padding: 15px;
}

/* # MEDIA QUERY */

@media screen and (min-width: 576px) {
  .float-left {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .w-sm-40 {
    width: 40%;
  }

  .social-btn {
    width: 18%;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero .title-thick {
    font-size: 2rem;
  }

  .card-ul {
    flex-wrap: wrap;
  }

  .card-li {
    min-width: calc(100% / 3);
    line-height: 3rem;
  }

  .d-md-inlineb {
    display: inline-block;
  }

  .d-md-flex {
    display: flex;
  }

  .text-left {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .fa-brands {
    padding-right: 5px;
  }

  .w-lg-30 {
    width: 30%;
  }

  .w-lg-40 {
    width: 40%;
  }

  .w-lg-60 {
    width: 60%;
  }

  .hero-card {
    flex-direction: row;
  }

  .card-li {
    line-height: 1.5rem;
  }

  .card-ul {
    display: block;
    line-height: 1.5rem;
  }

  .hero .title-thick {
    font-size: 2.5rem;
  }

  .container-lg {
    width: 80%;
    max-width: 1100px;
  }

  .d-lg-inlineb {
    display: inline-block;
  }

  .social-btn {
    font-size: 0.7rem;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer-container .col {
    max-width: 35%;
    font-size: 0.8rem;
  }

  /* .footer-container .col:last-child {
    text-align: end;
  } */

  .footer-link {
    padding: 10px;
  }
}
